#download{
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  font-size: .8em;
  padding: .6em;
  font-family: "STHeitiSC-Light", "STHeiti","Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-transform: translate3d(-50%,0,0);
  -moz-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
}
#avatar {
  width: 256px;
  height: 256px;
  border: 10px solid #67949D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

#name {
  margin: 0.5em 0; }

.reveal .title {
  margin-bottom: 1.1em; }

.reveal .date {
  color: #ccc; }

.imgleft {
  height: 240px;
  float: left; }

.pfloat {
  overflow: hidden; }

.pfloat p {
  padding-left: 20px; }

.clearfix {
  overflow: hidden; }

.reveal .l1 {
  font-size: 2em; }

.reveal .l2 {
  font-size: 1.5em; }

.reveal .l3 {
  font-size: 1.2em; }

.reveal .l4 {
  font-size: 1em; }

.reveal .l5 {
  font-size: 0.7em; }

.reveal .l6 {
  font-size: 0.5em; }

.reveal ul {
  font-size: 0.7em; }
