<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>辛向阳的简历</title>
    <meta name="description" content="辛向阳 web前端工程师 简历">
    <meta content="width=device-width,user-scalable=0,initial-scale=1,maximum-scale=1" name="viewport">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/just.css" id="theme">
    <link rel="stylesheet" href="css/index.css">
    <!--[if lt IE 9]>
        <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="reveal" id="content">
        <div class="slides">
            <section>
                <img id="avatar" v-bind:src="user.img" alt="avatar">
                <h2 id="name">{{user.username}}</h2>
                <h4>{{user.job}}</h4>
                <small>{{user.desc}}</small>
                <p><a v-bind:href="'mailto:'+user.email">{{user.email}}</a></p>
                <p><a v-bind:href="'tel:'+user.tel">{{user.tel}}</a></p>
            </section>
            <section>
                <h3 class="title">专业技能</h3>
                <p v-for="skill in skills">
                    <span v-for="ski in skill" v-bind:class="'l' + ski.level" > {{ski.name}} </span>
                </p>
            </section>
            <section>
                <section>
                    <h3 class="title">项目经验</h3>
                    <p>↓</p>
                </section>
                <section v-for="exprience in expriences">
                    <h4>{{exprience.name}}</h4>
                    <small>{{exprience.time}}</small>
                    <p v-bind:class="exprience.img ? 'left' : ''">{{exprience.desc}}</p>
                    <div class="clearfix">
                        <a target="_blank" v-bind:href="exprience.url" v-if="exprience.img"><img class="imgleft" v-bind:src="exprience.img" :alt="exprience.name"></a>
                        <div v-bind:class="exprience.img ? 'left pfloat' : ''">
                            <p v-for="edesc in exprience.workdesc">{{edesc}}</p>
                        </div>
                    </div>
                    <h4 v-if="exprience.url">网站地址<a target="_blank" v-bind:href="exprience.url">{{exprience.url}}</a>
                    <small v-if="exprience.tip">{{exprience.tip}}</small></h4>
                </section>
            </section>
            <section>
                <h3 class="title">教育背景</h3>
                <p v-text="user.school"></p>
                <p class="date" v-text="user.studytime"></p>
            </section>
            <section>
                <h3 class="title">工作经历</h3>
                <my-company v-for="company in companys" :company="company"></my-company>
            </section>
            <section>
                <h3 class="title">More</h3>
                <p v-for="more in user.mores" v-text="more"></p>
            </section>
        </div>
    </div>
    <template id="tmpl">
        <div><h4>{{company.name}}<small>{{company.job}}</small></h4>
        <p class="date">{{company.date}}</p>
        <ul>
            <li v-for="cdesc in company.desc" v-text="cdesc"></li>
        </ul></div>
    </template>
    <script src="js/info.js"></script>
    <script src="js/vue.min.js"></script>
    <script type="text/javascript">
        Vue.component('my-company', {
            props:['company'],
            template:  '#tmpl'
        });
        var vue = new Vue({
            el:'#content',
            data:info
        });
    </script>
    <script src="js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script>
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme,
        transition: 'convex', 
        mouseWheel: true,
        slideNumber: true,
        loop: true,
        dependencies: []
    });
    </script>
</body>

</html>
